{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}
<div>
  
  <h1 class="bannerHeading">GREAT CUTS. BIG SMILES</h1>
  <video autoplay muted loop id="myVideo">
    <source src="rain.mp4" type="video/mp4">
  </video>
</div>
{% schema %}
{
  
    "name": "Video Module",
    "settings": [
    {
    "id": "video_url",
    "type": "video_url",
    "label": "Video URL for Desktop",
    "accept": ["youtube", "vimeo"],
    "info": "Supports Youtube and Vimeo",
    "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
    },
    {
    "id": "autoplay",
    "type": "checkbox",
    "label": "Autoplay",
    "default": false
    }
    ],
    "presets": [
    {
    "name": "Video Module",
    "category": "Video",
    "settings": {
    "video_url": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
    }
    }
    ]
    }
{% endschema %}