{{ 'section-awards.css' | asset_url | stylesheet_tag }}
<div class="awards-section-wrapper">
  <div class="awards-content-wrapper">
    <h2 class="award-text">{{ section.settings.awards-title }}</h2>
      <div class="award-badge-row">
        <div class="award-badge"></div>
        <div class="award-badge-2"></div>
      </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Awards",
    "settings": [
      {
        "id": "awards-title",
        "type": "textarea",
        "label": "Award block title",
        "default":"consistent winner of the client experience award"
      }
    ],
    "presets": [
      {
        "name": "Awards"
      }
    ]
  }
{% endschema %}