{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<div class="filter-wrapper">
  <div class="filter-bg"></div>
  <div class="filter-overlay">
    <h1 class="filter" onclick="showBlogs(0)">culture</h1>
    <h1 class="filter" onclick="showBlogs(1)">innovations</h1>
    <h1 class="filter" onclick="showBlogs(2)">about us</h1>
    <h1 class="filter" onclick="showBlogs(3)">ALL</h1>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <p class="filter-small">scroll</p>
  </div>
</div>
<div class="blogs-wrapper">
  <div class="main-blog">

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {% for tag in article.tags %}
            {% if tag == "Culture" %}
            {%- render 'article-card', article: article, image_height: "large", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
            {% endif %}
          {% endfor %}
        </div>
      {%- endfor -%}
      <div class="newest">
        <div class="newest-top">
          <h2 class="newest-title">The last arcicles</h2>
          <p class="newest-link" onclick="showBlogs(3)">See All</p>
        </div>
        {%- for article in blog.articles -%}
          <div class="blog-articles__article article">
            {% for tag in article.tags %}
              {% if tag == "New" %}
              {%- render 'article-card', article: article, image_height: "small", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
              {% endif %}
            {% endfor %}
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {% for tag in article.tags %}
            {% if tag == "Innovations" %}
            {%- render 'article-card', article: article, image_height: "large", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
            {% endif %}
          {% endfor %}
        </div>
      {%- endfor -%}
      <div class="newest">
        <div class="newest-top">
          <h2 class="newest-title">The last arcicles</h2>
          <p class="newest-link" onclick="showBlogs(3)">See All</p>
        </div>
        {%- for article in blog.articles -%}
          <div class="blog-articles__article article">
            {% for tag in article.tags %}
              {% if tag == "New" %}
              {%- render 'article-card', article: article, image_height: "small", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
              {% endif %}
            {% endfor %}
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {% for tag in article.tags %}
            {% if tag == "About us" %}
            {%- render 'article-card', article: article, image_height: "large", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
            {% endif %}
          {% endfor %}
        </div>
      {%- endfor -%}
      <div class="newest">
        <div class="newest-top">
          <h2 class="newest-title">The last arcicles</h2>
          <p class="newest-link" onclick="showBlogs(3)">See All</p>
        </div>
        {%- for article in blog.articles -%}
          <div class="blog-articles__article article">
            {% for tag in article.tags %}
              {% if tag == "New" %}
              {%- render 'article-card', article: article, image_height: "small", show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
              {% endif %}
            {% endfor %}
          </div>
        {%- endfor -%}
      </div>
    </div>

  </div>
</div>



{{ 'blogs-controll.js'  | asset_url | script_tag     }}
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
