{{ 'section-awards.css' | asset_url | stylesheet_tag }}
<div class="awards-section-wrapper">
  <div class="awards-content-wrapper">
    <h2 class="award-text">we know you’re a superhero.<br> 
      We’ll help you look like one, too.</h2>
      <div class="award-badge"></div>
  </div>
  
</div>