{{ 'section-guarantee.css' | asset_url | stylesheet_tag }}
<div class="guarantee-section-wrapper">
  <div class="left-badge-wrapper">

  </div>
  <!-- <img src="{{'guarantee-left.png'| asset_url }}" alt="Guarantee badge" class="left-badge"> -->
    <div class="guarantee-text-wrapper">
      <h2 class="guarantee-title">our satisfaction guarantee</h2>
      <p class="guarantee-text">Your satisfaction is our priority! If for any reason you are not 100% thrilled with your service, you can come back again, and we’ll make it right. </p>
    </div>
  <img src="{{'guarantee-right.png'| asset_url }}" alt="Guarantee badge" class="right-badge">
  <img src="{{'guarantee-mobile.png'| asset_url }}" alt="Guarantee badge" class="mobile-badge">
</div>