{{ 'component-barber-card.css' | asset_url | stylesheet_tag }}
{{ 'section-barbers.css' | asset_url | stylesheet_tag }}
<div style="padding-top: 200px;">
Hello world
</div>
{{ 'barbers-controll.js'  | asset_url | script_tag     }}