{{ 'section-counter.css' | asset_url | stylesheet_tag }}
<div class="counter-section">
  <div class="section-grid">
    <div class="div1">
      <p class="counter-text-big">50'00</p>
      <p class="counter-text-small">happy clients</p>
    </div>
    <div class="div2">
      <p class="counter-text-big">2500</p>
      <p class="counter-text-small">5-STAR REVIEWS</p>
    </div>
    <div class="div3">
      <p class="counter-text-big">6000</p>
      <p class="counter-text-small">VOTES FOR VIENNA'S #1 BARBERSHOP</p>
    </div>
  </div>
</div>

