.header {
  background: #555;
  color: #f1f1f1;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  transition: 0.5s linear;
}
.transition{
  transition: 0.5s linear;
  display: flex;
}
#header-div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.header-div1 { 
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
.header-div2 { 
  grid-area: 1 / 5 / 2 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
 }
.header-div3 { grid-area: 1 / 9 / 2 / 13; }
/* #MainContent{
  padding-top: 16px;
} */
.language-heading{
  font-family: Bebas Neue,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: white;
  margin:0
}
#cart-white{
  background-size: contain;
  background-image: url(icon-cart-white.svg);
  background-repeat:no-repeat ;
}
#cart-black{
  background-image: url(icon-cart.svg);
  background-repeat:no-repeat ;
  background-size: contain;
}
.cart-page-link{
  position: relative;
  width: 40px;
  height: 40px;
}
.cart-count{
  color: white;
  border-radius: 100%;
  background-color:#3798DB;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 100%;
  transform: translate(50%, -10%);
}
.header-logo{
  width: 125px;
  height: 65px;
}
.header-nav-inline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.header-inline{
  display: flex;
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0;
  justify-content: space-between;
}
.header-inline>li>a{
padding: 0;
font-family: Bebas Neue,sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
text-transform: uppercase;
text-decoration: none;
color: white;
}
.header-inline>li>a:hover{
  color: #3798DB;
}
.burger-icon{
  width: 55px;
  height: 43px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
}
.transition .language-heading{
  color: black;
}
.transition .header-inline li a{
  color: black;
}
.transition + #MainContent {
  padding-top: 102px;
}
/* #blackBurger{
  display: none;
}
.sticky #blackBurger{
  display: block;
}
.sticky #whiteBurger{
  display: none;
} */
#drawer { 
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(48, 48, 48, 0.79);
  backdrop-filter: blur(10px);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }
.close-icon{
  width: 36px;
  height: 36px;
  float: right;
  margin-bottom: 60px;
}
.header-drawer-list{
  list-style-type: none;
  margin:0;
}
.border-bottom{
  border-bottom: 1px solid #FFFFFF;
}
.drawer-li{
  margin-bottom: 40px;
  text-align: end;
}
.drawer-li>a{
  font-family: Bebas Neue,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
 
}
.drawer-li>a:hover{
  color: #3798DB;
}

@media screen and (max-width:914px){
  .header-inline{
    display: none;
  }
  .header{
    padding: 20px 20px 20px 20px;
  }
  .header-div3{
    justify-content: flex-end;
  }
  .language-heading{
    font-size: 20px;
  }
  .header-logo{
    width: 76px;
    height: 100%;
  }
  .burger-icon{
    height: 100%;
    width: 37px;
    margin-left: 20px;
  }
  .cart-page-link{
    background-size: cover;
    width: 28px;
    height: 28px;
  }
  .cart-count{
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  .close-icon{
    width: 26px;
    height: 26px;
  }
  .drawer-li{
    margin-bottom: 30px;
  }
  .giftcards{
    margin-top: 30px;
    border-bottom: 1px solid white;
  }
  .drawer-last{
    margin-top: 30px;
  }
}
@media screen and (min-width:915px){
  .header-inline{
    display: flex;
  }
  .header{
    padding: 20px 140px 20px 140px;
  }
  .giftcards{
    margin-top: 40px;
  }
  .drawer-last{
    display: none;
  }
}