.guarantee-section-wrapper{
  background-color: #A99797;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* .guarantee-text-wrapper{
  display: flex;
  flex-direction: column;
} */
.guarantee-title{
  font-family: Bebas Neue,sans-serif;
font-style: normal;
font-weight: normal;
line-height: 150%;
text-align: center;
color: #FFFFFF;
margin-top: 0;
}
.badge-wrapper{
  position: relative;
  width: 400px;
}
.guarantee-text{
  font-family: Archivo Narrow,c;
font-style: normal;
font-weight: normal;
margin-top: 0;
line-height: 150%;
text-align: center;
color: #FFFFFF;
}
@media screen and (min-width:1211px){
.guarantee-section-wrapper{
  padding:70px 0px 0px 0px ;
  flex-direction: row;
  justify-content: space-between;
}
.guarantee-title{
  font-size: 45px;
  margin-bottom:15px;
}
.guarantee-text{
  font-size: 22px;
}
.left-badge-wrapper{
width: 300px;
height: 300px;
background-image: url(SatisfactionsIcon.svg);
opacity: 0.3;
background-size: 400px 400px;
background-repeat: no-repeat;
background-position-x: -260px;
}
.mobile-badge-wrapper{
  display: none;
}
.mobile-badge{
  display: none;
}
.right-badge{
  position: absolute;
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  right: -90px;
}
}
@media screen and (max-width:1210px){
  .guarantee-section-wrapper{
    padding:40px 20px 0px 20px ;
    flex-direction: column;
    align-items: center;
  }
  .guarantee-title{
    font-size: 30px;
    margin-bottom:15px;
  }
  .guarantee-text{
    font-size: 16px;
    text-align: left;
  }
  .left-badge{
    display: none;
    }
   
    .right-badge{
      display: none;
    }
    .mobile-badge-wrapper{
      width: 300px;
      height: 190px;
      position: relative;
    }
    .mobile-badge{
      top: 110px;
      width: 300px;
      height: 300px;
    }
}